.Home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.container {
	margin-top: 10px;
}

.text {
	margin-top: 1vh;
	font-weight: bold;
}

.center {
	display: block;
	margin: auto;
	max-width: 90%;
	max-height: 90%;
}
